@charset "UTF-8";

.scroll {
  background: url(../images/arrow52.png) center center no-repeat;
}

.sc_header #btnRefresh {
  background: url(../images/refresh.svg) center center no-repeat;
}

.sc_header #btnInstall {
  background: url(../images/install.svg) center center no-repeat;
}

.sc_header #btnLogin {
  background: url(../images/login.svg) center center no-repeat;
}

.sc_header #btnMenu {
  background: url(../images/menu.svg) center center no-repeat;
  margin-left: 12px;
}

.sc_header #btnProfile {
  background: url(../images/mypage.svg) center center no-repeat;
  margin-left: 12px;
}

#btnShare {
  background: url(../images/share.svg) center center no-repeat;
}
